body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 30px;
  background: url('https://yandex.kz/images/search?text=фото+патрика+мем&img_url=https%3A%2F%2Fi.kym-cdn.com%2Fentries%2Ficons%2Foriginal%2F000%2F053%2F884%2FStupid_Patrick_meme_cover.jpg&pos=5&rpt=simage&stype=image&lr=162&parent-reqid=1770215796260737-7153876115202360991-balancer-l7leveler-kubr-yp-sas-8-BAL&source=serp') no-repeat center center fixed;
  background-size: cover;
  color: white;
  position: relative;
}

/* затемнение */
body::before {
  content: "";
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: -1;
}

input, select, button {
  padding: 10px;
  margin: 5px;
  font-size: 16px;
  border-radius: 6px;
  border: none;
  background: rgba(0,0,0,0.5);
  color: white;
}

button:hover {
  background: rgba(0,0,0,0.7);
  cursor: pointer;
}

#result {
  color: #ffff66;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
  font-weight: bold;
  font-size: 24px;
  background: rgba(0, 0, 0, 0.5);
  display: inline-block;
  padding: 5px 15px;
  border-radius: 8px;
  margin-top: 10px;
}
