body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 30px;
  background: url('https://i.ytimg.com/vi/QzEf-Rh9XMU/maxresdefault.jpg') no-repeat center center fixed;
  background-size: cover;
  color: white;
  position: relative;
}

/* затемнение */
body::before {
  content: "";
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: -1;
}

input, select, button {
  padding: 10px;
  margin: 5px;
  font-size: 16px;
  border-radius: 6px;
  border: none;
  background: rgba(0,0,0,0.5);
  color: white;
}

button:hover {
  background: rgba(0,0,0,0.7);
  cursor: pointer;
}

#result {
  color: #ffff66;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
  font-weight: bold;
  font-size: 24px;
  background: rgba(0, 0, 0, 0.5);
  display: inline-block;
  padding: 5px 15px;
  border-radius: 8px;
  margin-top: 10px;
}
